Source: sleepi3-monitor
Section: misc
Priority: optional
Maintainer: Yuta Kiyonaga <kiyonaga@mechatrax.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1
Vcs-Git: https://github.com/mechatrax/sleepi3-monitor.git
Vcs-browser: https://github.com/mechatrax/sleepi3-monitor
Homepage: https://mechatrax.com/

Package: sleepi3-monitor
Architecture: all
Depends: ${misc:Depends}, sleepi3-utils, python3-sleepi, python3-yaml, python3, systemd
Description: Monitoring daemon for slee-Pi 3
 This package contains the daemon to monitor slee-Pi 3.
